.container-list {
    display: grid;
    grid-template-rows: auto;
    border: 2px solid black;
    margin: 10px 0px;
}

.row-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1em;
    font-size: 150%;
}

.row-list > div {
    display: grid;
    align-items: center;
    justify-items: center;
}

.row-list:nth-of-type(1) {
    grid-auto-rows: 50px;
}

.row-list .h-label {
    background-color: black;
    font-size: 125%;
    color: white;
    text-align: center;
    padding: 2px;
    /* border: 5px solid white; */
}

.row-list:nth-of-type(odd):not(:first-child) > div {
    background-color: #ddd;
}

img {
    margin-top: 15px;
    margin-bottom: 15px;
}

button[type="button"] {
    padding: 10px;
    font-size: 100%;
    color: white;
    border-radius: 5px;
}

.btn-blue {
    background-color: rgb(20, 135, 250);
}

.btn-blue:hover {
    background-color: darkblue;
}

.btn-red {
    background-color: tomato;
}

.btn-red:hover {
    background-color: red;
}

.btn-green {
    background-color: rgb(70, 197, 11);
}

.btn-green:hover {
    background-color: green;
}

.btn-orange {
    background-color: orange;
}

.btn-orange:hover {
    background-color: orangered;
}

button[type="button"].btn-white {
    background-color: white;
    color: blue;
    text-decoration: underline;
    font-size: medium;
    border: 0px;
}

button[type="button"].btn-white:hover {
    color: rgb(3, 3, 100);
}

.up-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-bottom: solid 7px white;
    border-top-width: 0;
    cursor: pointer;
}

.down-arrow {
    width: 0;
    height: 0;
    border: solid 5px transparent;
    background: transparent;
    border-top: solid 7px white;
    border-bottom-width: 0;
    margin-top:1px;
    cursor: pointer;
}

/* CSS for form page */

.form-tag {
    display: grid;
    place-items: center;
    justify-content: center;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: auto auto auto;
    grid-gap: 3em;
}

#form-page-div {
    display: none;
}

#form-page-div > h2:first-of-type {
    text-align: center;
}

label {
    padding-right: 5em;
    font-weight: bold;
}

input, select {
    border-radius: 10px;
    padding-left: 2em;
    background-color: #eee;
}

input {
    width: 50em;
    height: 2em;
}

input[type="file"] {
    border: 1px solid red;
    padding-top: 5px;
}

input[type="submit"], input[type="reset"] {
    width: 7em;
    height: 3em;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bold;
    padding-right: 1.5em;
}

select[name="type"] {
    width: 52.5em;
    height: 2.5em;
    border: 2px solid black;
}

.content-right {
    display: grid;
    width: 42em;
    justify-content: right;
    text-align: center;
    margin-right: -1em;
}

.home-page-link {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}

.img-preview {
    display: grid;
    place-self: self-start;
}